# API Keys — NUNCA subir
.env

# Datos crudos grandes (documentar cómo descargar en README)
data/raw/

# Modelos grandes (documentar cómo re-entrenar en README)
# Nota: Comentados para que Streamlit Cloud pueda acceder a los modelos y a la BD ChromaDB
# models/checkpoints/*.pkl
# models/checkpoints/chromadb/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
*.egg-info/
dist/
build/
venv/
.venv/

# Sistema
.DS_Store
Thumbs.db
